body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: #8c8c8c;
}
.App {
  text-align: center;
}

.spin-container {
  padding: 5rem 0;
  .ant-alert-content {
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-spin {
      height: 20px;
    }
  }
}
