.fl-row {
  margin-bottom: 64px;
}

.fl-balance,
.fl-balance {
  height: 100%;
  .ant-card-body {
    height: 100%;
  }
}
.fl-earnings {
  .ant-card-body {
    display: flex;
  }
  &__left {
    width: 70%;
  }
  &__small-text {
    font-weight: 400;
    font-size: @font-size-base;
    color: @text-color-secondary;
  }
  &__big-text {
    font-weight: bold;
    font-size: @heading-3-size;
  }
}
.fl-balance {
  .ant-card-body {
    display: flex;
  }
  &__left {
    width: 50%;
  }
  &__right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__small-text {
    font-weight: 400;
    font-size: @font-size-base;
    color: @text-color-secondary;
  }
  &__big-text {
    font-size: @heading-4-size;
  }
}
.fl-tokens {
  position: relative;
  &-header {
    position: absolute;
    top: -28px;
    width: 100%;
    display: flex;
    padding: 0 @padding-xs;
    padding-left: 56px;
    color: @text-color-secondary;
    font-size: @font-size-sm;
    &__item {
      width: 33.33%;
    }
  }
  &-container {
    margin-bottom: @margin-xs;
    .ant-card-body {
      padding: @padding-xs;
      padding-left: 56px;
    }
  }
  .fl-token {
    display: flex;
    align-items: stretch;
    position: relative;
    &-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      left: -48px;
      top: 50%;
      transform: translateY(-50%);
    }
    &__item {
      width: 33.33%;
      display: flex;
      align-items: center;
    }
    &-asset {
      align-items: start;
      &__name {
        color: @text-color-secondary;
        font-size: @font-size-sm;
      }
    }
  }
}
.fl-tops {
  .ant-table-cell {
    font-size: @font-size-sm;
  }
  .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 0;
  }
  .ant-tabs-nav {
    margin-bottom: 0;
    .ant-tabs-tab {
      background-color: @component-background;
      color: @text-color-secondary;
      font-size: @font-size-sm;
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      background-color: @background-color-light;
      border-bottom-color: @background-color-light;
    }
    .ant-tabs-tab:first-child {
      border-left: 0;
    }
  }
}
