.fl-balance,
.fl-balance {
  height: 100%;
}
.fl-earnings {
  .ant-card-body {
    display: flex;
    .fl-earnings__left {
      width: 70%;
    }
    .fl-earnings__small-text {
      font-weight: 400;
      font-size: @font-size-base;
      color: @text-color-secondary;
    }
    .fl-earnings__big-text {
      font-weight: bold;
      font-size: @heading-3-size;
    }
  }
}
.fl-balance {
  .ant-card-body {
    display: flex;
    .fl-balance__left {
      width: 50%;
    }
    .fl-balance__right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .fl-balance__small-text {
      font-weight: 400;
      font-size: @font-size-base;
      color: @text-color-secondary;
    }
    .fl-balance__big-text {
      font-size: @heading-4-size;
    }
  }
}
